<%# -*- coding: utf-8 -*-%>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css">
  <title>蔵書検索</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>蔵書データの検索</h2>
<p><a href="http://localhost:3000">メニュー画面に戻る</a></p>
<hr>
<% if @b_info.length > 0 or @b_info.present? %>

<h1>検索結果</h1>
<tr>
  <th>該当項目</th>
</tr>
<tr>
  <th><%= @count %> 件</th>
</tr>

<table>
<tr>
    <th>削除</th>
    <th>修正</th>
    <th>タイトル</th>
    <th>著者</th>
    <th>ページ数</th>
    <th>出版日</th>
</tr>

<% @b_info.each do |info| %>
  <tr>
    <td><a href="http://localhost:3000/delete/index?id=<%=info.id %>">
                Delete</a></td>
       <td><a href="http://localhost:3000/update/index?id=<%=info.id %>">
                Correction</a></td>
    <td><%= info.title %></td>
    <td><%= info.author %></td>
    <td><%= info.page %></td>
    <td><%= info.date_available %></td>
  </tr>
<% end %>

</table>

<% else %>

<h1>検索結果</h1>
<tr>
  <th>該当項目</th>
</tr>
<tr>
  <th>0 件</th>
</tr>

<% end %>






</body>
</html>